

<h2><%= h "Incidêntes Ativos"%> <%= h link_to ('<i class="icon-white icon-plus-sign"></i>Relatar Incidênte').html_safe, new_event_path(), :class => 'btn btn-small btn-success' %></h2>

<ul>
    <div class="container">
        <div class="row">
          <div class="span10">
            <%= bootstrap_flash %>
          </div>
        </div><!--/row-->

    <div class="container-narrow">

            <% @events.shuffle.each do |event| %>
      <hr>

      <div class="jumbotron">
        <a href="#"> <img src="<%= asset_path "facebook.png" %>" class="social-icons"></a>
        <a href="#"> <img src="<%= asset_path "twitter.png" %>" class="social-icons"></a>
        <a href="#"> <img src="<%= asset_path "googleplus.png" %>" class="social-icons"></a>
        <h1><%= event.name %></h1>
        <p class="lead"> <%= event.description %></p>
        <%= link_to "Ajude Agora", event_path(event), :class => 'btn btn-large btn-success' %>
      </div>

      <hr>
      <% end %>

</ul>
