<%- model_class = Event -%>
<div class="page-header">
        <a href="#"> <img src="<%= asset_path "facebook.png" %>" class="social-icons"></a>
        <a href="#"> <img src="<%= asset_path "twitter.png" %>" class="social-icons"></a>
        <a href="#"> <img src="<%= asset_path "googleplus.png" %>" class="social-icons"></a>
  <h1><%=t '.title', :default => @event.name %></h1>
</div>
<div>
  <p><%= @event.description %></p>
</div>

  <h3>Desaparecidos:</h3>
      <div id="main_area">
        <!-- Slider -->
        <div class="row">
          <div class="span12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="span8" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <% @event.missing_people.each do |missing_person| %>
                      <%  if (missing_person == @event.missing_people.first) %>
                        <div class="active item" data-slide-number="<%=missing_person.id%>"><img src="/assets/person<%=missing_person.id%>.png" /></div>
                      <% else %>
                        <div class="item" data-slide-number="<%=missing_person.id%>"><img src="/assets/person<%=missing_person.id%>.png" /></div>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- Carousel nav -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                </div>
              </div>
              <div class="span4" id="carousel-text"></div>

              <div style="display: none;" id="slide-content">
                <% @event.missing_people.each do |missing_person| %>
                  <div id="slide-content-<%=missing_person.id%>">
                    <h2><%=missing_person.name%></h2>
                    <p><%=missing_person.information%></p>
                    <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div> <!--/Slider-->

        <div class="row hidden-phone" id="slider-thumbs">
          <div class="span12">
            <!-- Bottom switcher of slider -->
            <ul class="thumbnails">
              <% @event.missing_people.each do |missing_person| %>
                <li class="span2">
                  <a class="thumbnail" id="carousel-selector-<%=missing_person.id%>">
                    <img src="/assets/person<%=missing_person.id%>.png" />
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

<a href="#" class="btn btn-primary"><i class="icon-white icon-info-sign"></i> Tenho Informações sobre um Desaparecido</a>
<a href="#" class="btn btn-danger"><i class="icon-white icon-plus-sign"></i> Estou Procurando Alguém</a>
  <%= link_to "Add a missing person", new_event_missing_person_path(@event) %>
<div class="row-fluid marketing">
  <%= link_to "Add a help center", new_event_help_center_path(@event) %>
  <% @event.help_centers.each do |help_center| %>
    <div class="span6">
      <h4><%= help_center.name %></h4>
      <%= simple_format help_center.description %>
    </div>
  <% end %>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    events_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_event_path(@event), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        event_path(@event),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
      </div>


